@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  font-family: "Shadows Into Light", cursive;
  color: black;
  --color-amarelo: #ffc700;
}

.body {
  background-color: var(--color-amarelo);
}

.navbar {
  background-color: black;
  font-size: 30px;
  padding: 0 5rem;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.navbar_img {
  padding-top: 30px;
  width: 100px;
  height: 100px;
}

.navbar h2 {
  color: white;
  margin-left: 100px;
}

.navbar span {
  color: var(--color-amarelo);
}

.navbar_list {
  list-style: none;
  text-align: right;
}

.navbar_list a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--color-amarelo);
  text-decoration: underline;
}

.container {
  padding-top: 10px;
  display: flex;
  justify-content: left;
}

.container_img {
  padding-right: 150px;
  width: 800px;
  height: 500px;
}

.container_form {
}

.container_form input,
select {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
}

.container_form select option {
  color: black;
}

.container_form button {
  color: black;
}

.saiba_mais {
  padding-top: 200px;
  padding-left: 500px;
  text-align: center;
  width: 800px;
  height: 200px;
}

.requisitos {
  padding: 100px;
  text-align: center;
  width: 800px;
  height: 200px;
}

.investimento {
  padding-top: 50px;
  padding-left: 500px;
  text-align: center;
  width: 800px;
  height: 200px;
}
